html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
}
*/ hero .heading-sm {
    font: 25px;
    font-weight: 600;
    color: #272829;
}
#hero .heading-lg {
    font-weight: 800;
    letter-spacing: 1px;
}
#hero .heading_md {
    font-size: 16px;
    font-weight: 500;
    color: #272829;
}
.name {
    color: #0c356a !important;
}
.login {
    background-color: #0c356a !important;
}
.text {
    min-width: 80vw;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 50px;
    padding: 5px;
}
.nav-link {
    font-weight: bold;
}
.nav-link:hover {
    color: #0c356a !important;
    transition: all 0.3s ease;
}

.icons {
    list-style-type: none;
}

.foto {
    width: 100%;
    height: 200px;
}

.card:hover {
    transform: scale(1.01);
    transition: all 0.3s ease;
}

.col {
    padding: 5px;
}

.umi {
    width: 150px;
}

.d-block {
    height: 200px;
    width: 100%;
    object-fit: contain;
}

#logo {
    height: 300px;
    width: 300px;
}
.teks {
    text-align: justify;
}
footer {
    width: 100%;
    bottom: 0;
    background-color: #0c356a;
    background-size: 100% 100%;
    text-align: justify;
}
.i {
    color: black;
    list-style-type: none;
}

.icons {
    list-style-type: none;
}
